<html>
<head>
    <!-- <style>
        table,th,td {
            border: 1px solid black;
        }
    </style> -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1> <a href="/">Home</a><br/>
        <a href="/newtask">Add A New Task</a></br>
    </h1>
    </br>
    <h3>Your to-do lists are:
        <table>
            <tr>
                <td>Name</td>
                <td>Due Date</td>
                <td>Description</td>
            </tr>
            <% for ( var i =0; i< taskDb.length;i++){ %>
                <tr>
                    <td>
                        <%= taskDb[i].taskName %>
                    </td>
                    <td>
                        <%= taskDb[i].taskDueDate %>
                    </td>
                    <td>
                        <%= taskDb[i].taskDescription %>
                    </td>
                </tr>
                <% }%>
    </h3>
</body>
</html>